<%- include("../includes/head", { pageTitle: "An error coourred"}) %>
</head>
<body>
  <%- include("../includes/header") %>
  <main>
    <h1>Could not find resource</h1>
    <p><a class="btn" href="/">Back to home</a></p>
  </main>
  <%- include("../includes/footer") %>
