<%- include("../shared/includes/head", { pageTitle: "Create New Content"}) %>
</head>
<body>
  <%- include("../shared/includes/header") %>
  <main>
    <h1>Create New Content</h1>
    <%- include("includes/content-form", { content: content }) %>
  </main>
  <%- include("../shared/includes/footer") %>
