.list_song {
  display: flex;
  flex-wrap: wrap;
}

.list_song li {
  flex: 20% 0 0;
  box-sizing: border-box;
  padding: 10px;
}

.list_song a {
  display: block;
  padding: 20px 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: dodgerblue;
}

.thumbnail {
  width: 200px;
  height: 200px;
}