<%- include("../shared/includes/head", { pageTitle: "All Objects"}) %>
<link rel="stylesheet" href="/styles/objects.css">
</head>
<body>
  <%- include("../shared/includes/header") %>
  <main>
    <h1>All Objects</h1>
  </main>
  <%- include("../shared/includes/footer") %>
