<%- include("../shared/includes/head", { pageTitle: "Add New Object"}) %>
</head>
<body>
  <%- include("../shared/includes/header") %>
  <main>
    <p>Main</p>
  </main>
  <%- include("../shared/includes/footer") %>
